Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{jsx,css}": "stylelint --fix",
  "*.{js,jsx,css,md,mdx,json}": "prettier --write"
}

Implement themes
  src/components/code.jsx
  src/components/footer.jsx
  src/components/global-styles.jsx
  src/components/layout-blog.jsx
  src/components/layout.jsx
  src/pages/404.jsx
  src/pages/blog.jsx
  src/pages/index.jsx
  src/pages/resume.jsx
  src/theme.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix KaTeX rendering
  package-lock.json
  package.json
Due: prettier --write

deps: bump deps
  package-lock.json
  package.json
Due: prettier --write

deps: install typescript
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

deps: move typescript to devdependency
  package-lock.json
  package.json
Due: prettier --write

feat: update tooling
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/.gitignore
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: fix pngquant-bin build error
  package-lock.json
Due: prettier --write

refactor: initial ts refactor
  gatsby-config.js
  package-lock.json
  package.json
  src/components/seo.tsx
  src/pages/index.jsx
  src/pages/index.tsx
  src/theme.ts
  src/utils/strip-trailing-slash.js
  src/utils/strip-trailing-slash.ts
  tsconfig.json
  types/styled-components.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: fix build
  package-lock.json
  package.json
Due: prettier --write

refactor: refactor code highlighter into ts
  src/components/code.tsx
  types/styled-components.d.ts
Due: none

refactor: refactor footer module
  src/components/footer.tsx
Due: none

refactor: refactor global style into ts
  src/components/global-styles.tsx
Due: none

refactor: refactor blog layout into ts
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout-blog.tsx
Due: eslint --cache --fix, prettier --write

refactor: refactor global layout into ts
  src/components/footer.tsx
  src/components/layout.tsx
Due: none

refactor: refactor resume page into ts
  package-lock.json
  package.json
  src/pages/resume.tsx
Due: prettier --write

refactor: refactor 404 page into ts
  src/pages/404.tsx
Due: none

refactor: refactor blog page into ts
  src/pages/blog.tsx
Due: none

chore: reformat arrow parens
  .prettierrc.json
  content/blog/hello-world/index.mdx
  src/components/seo.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
Due: prettier --write

refactor: rename GraphQL related vars
  src/components/seo.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
Due: none

chore: add ts information
  README.md
  package.json
Due: prettier --write

infra: disable dependabot
  .github/dependabot.yml
Due: none

infra: update npm scripts
  package.json
Due: prettier --write

infra: update github ci config
  .github/workflows/deploy.yml
Due: none

infra: add ci lint
  .github/workflows/lint.yml
Due: none

infra: fix github ci config
  .github/workflows/lint.yml
Due: none

infra: fix github ci config syntax error
  .github/workflows/lint.yml
Due: none

infra: update github ci config
  .github/workflows/lint.yml
Due: none

chore: apply prettier to github yml files
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

docs: update readme build badge
  .github/workflows/lint.yml
  README.md
Due: prettier --write

chore: update package.json and bump version
  package-lock.json
Due: prettier --write

infra: automate release
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: make npm version semver compliant
  package.json
Due: prettier --write

infra: update release logic
  .github/workflows/release.yml
Due: none

chore: bump version
  package.json
Due: prettier --write

infra: edit release github action
  .github/workflows/release.yml
Due: none

infra: edit github ci conditions
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: none

feat: add modern-normalize
  package-lock.json
  package.json
  src/components/layout.tsx
Due: prettier --write

feat: remove obsolete icons
  gatsby-config.js
  src/images/icons/icon-hana.svg
  src/images/icons/icon-hashmm.svg
  src/images/icons/icon-kdv.svg
  src/images/icons/icon-lucli.svg
  src/images/icons/icon-ns.svg
  src/images/icons/icon-postech.svg
Due: eslint --cache --fix, prettier --write
