Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

adjust index style
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

adjust typography
  src/components/global-styles.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

unify color system
  src/components/footer.tsx
  src/components/global-styles.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/components/links.tsx
  src/components/mdx-page.tsx
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
  src/theme.ts
  types/styled-components.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

edit button text error
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

remove breadcrumb home button
  src/components/header.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

style code colors
  src/components/code.tsx
  src/components/mdx-components.tsx
  src/theme.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

adjust gap
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

enlarge blog page fonts
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

try out font change
  gatsby-config.js
  src/components/global-styles.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

use diatype font
  src/components/global-styles.tsx
  src/fonts/public/basiersquare-regular-webfont.woff2
  src/fonts/public/fonts.css
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

add extensions
  .devcontainer/devcontainer.json
Due: prettier --write --ignore-unknown

update with proper host and port
  .devcontainer/devcontainer.json
  package.json
Due: prettier --write --ignore-unknown

update index
  src/pages/index.astro
Due: prettier --write --ignore-unknown

update styles
  src/components/Header.astro
  src/components/Layout.astro
  src/layouts/Html.astro
  src/pages/index.astro
Due: prettier --write --ignore-unknown

rudimentary blog
  src/content/blog/hello-world.md
  src/content/config.ts
  src/env.d.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
Due: eslint --cache --fix, prettier --write --ignore-unknown

styles and blog
  package.json
  pnpm-lock.yaml
  src/components/FontStyles.astro
  src/components/GlobalStyles.astro
  src/components/Header.astro
  src/content/blog/hello-world.md
  src/content/config.ts
  src/layouts/Html.astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: eslint --cache --fix, prettier --write --ignore-unknown

implement color system
  package.json
  pnpm-lock.yaml
  public/fonts/private/Diatype-400-italic.woff2
  public/fonts/private/Diatype-400-normal.woff2
  public/fonts/private/Diatype-500-italic.woff2
  public/fonts/private/Diatype-500-normal.woff2
  public/fonts/private/Diatype-700-italic.woff2
  public/fonts/private/Diatype-700-normal.woff2
  public/fonts/private/Suisse_Int'l-400-italic.woff2
  public/fonts/private/Suisse_Int'l-400-normal.woff2
  public/fonts/private/Suisse_Int'l-450-italic.woff2
  public/fonts/private/Suisse_Int'l-450-normal.woff2
  public/fonts/private/Suisse_Int'l-500-italic.woff2
  public/fonts/private/Suisse_Int'l-500-normal.woff2
  public/fonts/private/Suisse_Int'l-600-italic.woff
  public/fonts/private/Suisse_Int'l-600-italic.woff2
  public/fonts/private/Suisse_Int'l-600-normal.woff
  public/fonts/private/Suisse_Int'l-600-normal.woff2
  public/fonts/private/Suisse_Int'l-700-italic.woff2
  public/fonts/private/Suisse_Int'l-700-normal.woff2
  public/fonts/private/fonts.css
  src/components/FontStyles.astro
  src/components/GlobalStyles.astro
  src/components/Header.astro
  src/layouts/Html.astro
  src/styles/colors.ts
  src/styles/fonts.css
  src/styles/global.css
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

blog and layout
  package.json
  pnpm-lock.yaml
  src/components/PageTitle.astro
  src/components/Wrapper.astro
  src/content/blog/hello-world.md
  src/layouts/Default.astro
  src/layouts/Html.astro
  src/layouts/Markdown.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: stylelint --fix, prettier --write --ignore-unknown

fix colors
  src/components/Header.astro
  src/styles/colors.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

update blog index
  src/pages/blog/index.astro
Due: prettier --write --ignore-unknown

update blog
  src/components/PageHeader.astro
  src/content/blog/hello-world.md
  src/layouts/Markdown.astro
  src/pages/blog/index.astro
Due: prettier --write --ignore-unknown

lighten header
  src/components/Header.astro
Due: prettier --write --ignore-unknown

update blog index
  src/env.d.ts
  src/pages/blog/index.astro
  src/utils/group.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

update workflows
  .github/workflows/build.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

pull fonts
  package.json
Due: prettier --write --ignore-unknown

disable lint ci
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

adjust cache behavior
  .github/workflows/build_and_deploy.yml
Due: prettier --write --ignore-unknown

add back head element which i somehow deleted
  src/layouts/Html.astro
Due: prettier --write --ignore-unknown

implement footer
  src/components/FlexSpacer.astro
  src/components/Footer.astro
  src/components/Wrapper.astro
  src/layouts/Default.astro
  src/layouts/Markdown.astro
  src/styles/global.css
Due: stylelint --fix, prettier --write --ignore-unknown

reduce code repetition
  src/components/Header.astro
  src/layouts/Default.astro
  src/layouts/Markdown.astro
Due: prettier --write --ignore-unknown

fix post ordering
  src/pages/blog/index.astro
Due: prettier --write --ignore-unknown

adjust styles
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/components/Wrapper.astro
  src/pages/index.astro
  src/styles/global.css
Due: stylelint --fix, prettier --write --ignore-unknown

add new article
  src/content/blog/closed-font-github.md
Due: prettier --write --ignore-unknown

update global styling
  package.json
  public/fonts/.gitignore
  public/fonts/open/Iosevka-400-italic.woff2
  public/fonts/open/Iosevka-400-normal.woff2
  public/fonts/open/Iosevka-700-italic.woff2
  public/fonts/open/Iosevka-700-normal.woff2
  public/fonts/private/Diatype-400-italic.woff2
  public/fonts/private/Diatype-400-normal.woff2
  public/fonts/private/Diatype-500-italic.woff2
  public/fonts/private/Diatype-500-normal.woff2
  public/fonts/private/Diatype-700-italic.woff2
  public/fonts/private/Diatype-700-normal.woff2
  public/fonts/private/Suisse_Int'l-400-italic.woff2
  public/fonts/private/Suisse_Int'l-400-normal.woff2
  public/fonts/private/Suisse_Int'l-450-italic.woff2
  public/fonts/private/Suisse_Int'l-450-normal.woff2
  public/fonts/private/Suisse_Int'l-500-italic.woff2
  public/fonts/private/Suisse_Int'l-500-normal.woff2
  public/fonts/private/Suisse_Int'l-600-italic.woff
  public/fonts/private/Suisse_Int'l-600-italic.woff2
  public/fonts/private/Suisse_Int'l-600-normal.woff
  public/fonts/private/Suisse_Int'l-600-normal.woff2
  public/fonts/private/Suisse_Int'l-700-italic.woff2
  public/fonts/private/Suisse_Int'l-700-normal.woff2
  public/fonts/private/fonts.css
  src/components/Footer.astro
  src/components/Wrapper.astro
  src/layouts/Html.astro
  src/pages/index.astro
  src/styles/fonts.css
  src/styles/global.scss
Due: stylelint --fix, prettier --write --ignore-unknown

change mono font
  public/fonts/open/IBMPlexMono-400-italic.woff2
  public/fonts/open/IBMPlexMono-400-normal.woff2
  public/fonts/open/IBMPlexMono-700-italic.woff2
  public/fonts/open/IBMPlexMono-700-normal.woff2
  public/fonts/open/Iosevka-400-italic.woff2
  public/fonts/open/Iosevka-400-normal.woff2
  public/fonts/open/Iosevka-700-italic.woff2
  public/fonts/open/Iosevka-700-normal.woff2
  src/styles/fonts.css
  src/styles/global.scss
Due: stylelint --fix, prettier --write --ignore-unknown

tighten up line spacing
  src/styles/global.scss
Due: prettier --write --ignore-unknown

update syntax highlighting
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/content/blog/closed-font-github.md
  src/styles/global.scss
Due: eslint --cache --fix, prettier --write --ignore-unknown

remove react integration
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{jsx,tsx,css}
  prettier --write --ignore-unknown: any of: *
