Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{jsx,tsx,css}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat: add portfolio images
  src/images/portfolio/card.png
  src/images/portfolio/kdv.png
  src/images/portfolio/ns.png
Due: prettier --write --ignore-unknown

feat: implement basic redesign
  src/components/layout.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit portfolio images
  src/images/portfolio/hashmm.png
  src/images/portfolio/ssp.png
Due: prettier --write --ignore-unknown

fix: use string mapped type for theme
  types/styled-components.d.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: massive index redesign
  src/components/layout.tsx
  src/pages/index.tsx
  src/theme.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update links
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused imports
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused code
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused import
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add korean name
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit index style
  src/pages/index.tsx
  src/theme.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: restyle and recolor index
  src/pages/index.tsx
  src/theme.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix flexbox justify-content browser support
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust layout grid gaps
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused code
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: split file into components
  src/components/links.tsx
  src/components/portfolio-card.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust layout spacing
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust mobile spacing
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: bump version
  package.json
Due: prettier --write --ignore-unknown

chore: bump deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: adjust blog page design
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: optionalize link underline
  src/components/links.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix css props type error
  types/styled-components.d.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: add rudimentary header
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

deps: install polished and typescript@beta
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

deps: roll back typescript@beta
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: convert color theme into lightness based color tokens
  src/components/footer.tsx
  src/components/global-styles.tsx
  src/components/layout-blog.tsx
  src/components/layout.tsx
  src/components/portfolio-card.tsx
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
  src/theme.ts
  types/styled-components.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: create header component
  src/components/header.tsx
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: add function return type
  src/components/header.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit font rendering behavior
  src/components/global-styles.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit blog page font rendering behavior
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit blog list page design
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add collection type utils
  src/utils/collections.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: redesign blog list page
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: move scroll-behavior to html
  src/components/global-styles.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update footer
  src/components/footer.tsx
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust short content footer location
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: remove dirty workaround
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit footer style
  src/components/footer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown
