Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{jsx,tsx,css}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat: add 95l shade of neutral
  src/theme.ts
  types/styled-components.d.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: edit footer styles
  src/components/footer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add copyright and update design
  src/components/footer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: use flex-start
  src/components/footer.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust button letter spacing
  src/pages/blog.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust site margin responsiveness
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix blog slug
  gatsby-config.js
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: test blog typography
  content/blog/hello-world/index.mdx
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add xcharter font
  src/fonts/XCharter-400-italic.woff
  src/fonts/XCharter-400-italic.woff2
  src/fonts/XCharter-400-normal.woff
  src/fonts/XCharter-400-normal.woff2
  src/fonts/XCharter-700-italic.woff
  src/fonts/XCharter-700-italic.woff2
  src/fonts/XCharter-700-normal.woff
  src/fonts/XCharter-700-normal.woff2
  src/fonts/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

fix: fix mislabelled font name
  src/fonts/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

feat: change and add typography
  content/blog/typography-test.mdx
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit blog page typography
  content/blog/typography-test.mdx
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused code
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add sidenotes
  content/blog/hello-world/index.mdx
  content/blog/typography-test.mdx
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: remove trailing slashes
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write --ignore-unknown

chore: edit mdx formatting
  content/blog/typography-test.mdx
Due: prettier --write --ignore-unknown

fix: fix sidenote rendering behavior
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: use serif for post title
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update blog post header
  content/blog/typography-test.mdx
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add page description
  content/blog/hello-world/index.mdx
Due: prettier --write --ignore-unknown

feat: update blog typography
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update resume page
  src/pages/resume.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add large post layout photo
  content/blog/typography-test.mdx
  src/components/layout-blog.tsx
  src/images/posts/kdv.png
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust blog typography
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust mobile blog photo size
  src/components/layout-blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix trailing slash logic
  src/utils/strip-trailing-slash.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: add page mdx and fix page creation
  content/pages/colophon.mdx
  gatsby-config.js
  gatsby-node.js
  src/pages/blog.tsx
  src/templates/blog.tsx
  src/templates/page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

content: update colophon
  content/pages/colophon.mdx
Due: prettier --write --ignore-unknown

feat: modularize mdx pages and blog posts
  content/blog/hello-world/index.mdx
  src/components/mdx-page.tsx
  src/components/mdx.tsx
  src/templates/blog.tsx
  src/templates/page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused imports
  src/templates/blog.tsx
  src/templates/page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update mdx styles
  src/components/mdx-page.tsx
  src/components/mdx.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: create universal link component
  src/components/links.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: support internal link for portfolio
  src/components/portfolio-card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update mdx page designs
  src/components/mdx-page.tsx
  src/pages/index.tsx
  src/templates/page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix inconsistent image margins
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: adjust post header margins
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add gatsby-remark-images
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write --ignore-unknown

refactor: rename mdx components file
  src/components/mdx-components.tsx
  src/templates/blog.tsx
  src/templates/page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

content: update kdv-pinn
  content/pages/kdv-pinn/index.mdx
  content/pages/kdv-pinn/sol.png
  src/images/mdx/kdv-pinn.png
Due: prettier --write --ignore-unknown
