Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: remove portfolio link
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix mdx page layout
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: rename portfolio categories
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: reorder portfolio categories
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: portfolio category sorting
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update portfolio
  src/components/portfolio-card.tsx
  src/images/portfolio/luc.li.png
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add inter 500 weight
  src/fonts/Inter-500-italic.woff
  src/fonts/Inter-500-italic.woff2
  src/fonts/Inter-500-normal.woff
  src/fonts/Inter-500-normal.woff2
  src/fonts/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

feat: redesign index
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit styles and disable mobile font clamping
  src/components/global-styles.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update design
  src/components/global-styles.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat:update index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: fiddle around with index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: update design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix adjust mobile links layout
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust index bio item layout
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

infra: disable auto release
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown

chore: bump version
  package.json
Due: prettier --write --ignore-unknown

feat: remove unused fonts
  src/fonts/AppleGaramond-400-italic.woff
  src/fonts/AppleGaramond-400-italic.woff2
  src/fonts/AppleGaramond-400-normal.woff
  src/fonts/AppleGaramond-400-normal.woff2
  src/fonts/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

feat: organize fonts into public and private
  .gitignore
  src/fonts/Inter-400-italic.woff
  src/fonts/Inter-400-italic.woff2
  src/fonts/Inter-400-normal.woff
  src/fonts/Inter-400-normal.woff2
  src/fonts/Inter-500-italic.woff
  src/fonts/Inter-500-italic.woff2
  src/fonts/Inter-500-normal.woff
  src/fonts/Inter-500-normal.woff2
  src/fonts/Inter-700-italic.woff
  src/fonts/Inter-700-italic.woff2
  src/fonts/Inter-700-normal.woff
  src/fonts/Inter-700-normal.woff2
  src/fonts/XCharter-400-italic.woff
  src/fonts/XCharter-400-normal.woff
  src/fonts/XCharter-700-italic.woff
  src/fonts/XCharter-700-normal.woff
  src/fonts/fonts.css
  src/fonts/private/fonts.css
  src/fonts/public/XCharter-400-italic.woff2
  src/fonts/public/XCharter-400-normal.woff2
  src/fonts/public/XCharter-700-italic.woff2
  src/fonts/public/XCharter-700-normal.woff2
  src/fonts/public/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

feat: add iosevka font
  src/components/layout.tsx
  src/fonts/public/Iosevka-400-italic.woff2
  src/fonts/public/Iosevka-400-normal.woff2
  src/fonts/public/Iosevka-700-italic.woff2
  src/fonts/public/Iosevka-700-normal.woff2
  src/fonts/public/fonts.css
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: optionally disable private fonts
  src/components/layout.tsx
  src/fonts/private/fonts.css
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: reconfigure suisse int'l fonts
  src/fonts/private/fonts.css
Due: stylelint --fix, prettier --write --ignore-unknown

feat: apply new fonts
  src/components/code.tsx
  src/components/global-styles.tsx
  src/components/layout.tsx
  src/components/mdx-components.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: auto source fonts from s3
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier --write --ignore-unknown

feat: edit typography
  src/components/mdx-components.tsx
  src/components/mdx-page.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

infra: use bash
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

infra: fix shell preference in ci
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

fix: make npm scripts portable
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier --write --ignore-unknown

fix: fix sidenote layout
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

docs: update readme
  README.md
Due: prettier --write --ignore-unknown

feat: edit sorter styling
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: disable font synthesis
  src/components/global-styles.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit blog page font
  src/pages/blog.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove unused code
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: edit post style
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: remove preact and use react 17
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write --ignore-unknown

fix: fix react warnings
  src/components/footer.tsx
  src/components/header.tsx
  src/components/links.tsx
  src/components/portfolio-card.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

chore: bump version
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{jsx,tsx,css}
  prettier --write --ignore-unknown: any of: *
