Repository yklcs/yklcs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

infra: run cicd on push to main
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

infra: fix github actions syntax error
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

infra: reconfigure github actions
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

infra: fix github actions cd
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

infra: fix github deployment contexts
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

chore: remove unused code
  src/components/mdx-page.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: narrow up layout
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: tinker with index design
  src/components/header.tsx
  src/pages/index.tsx
  src/theme.ts
  types/styled-components.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: fiddle around with index
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust index links
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: refactor index page
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: remove links from header
  src/components/header.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: simplify index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: edit index design
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust index font size and layout
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: minimal index page
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

deps: bump deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: fix stylelint error
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: major design overhaul
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/footer.tsx
  src/components/global-styles.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/components/links.tsx
  src/fonts/private/fonts.css
  src/images/index/DSCF0946.jpg
  src/images/index/DSCF1514.jpg
  src/images/index/DSCF1524.jpg
  src/images/index/DSCF1599.jpg
  src/images/index/bg.jpg
  src/images/index/luc.li.png
  src/images/mdx/ns.png
  src/pages/index.tsx
  src/theme.ts
  src/utils/responsive.ts
  types/styled-components.d.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: fix failing tsc
  src/components/portfolio-card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

fix: set correct build date at compile time
  gatsby-node.js
  src/components/footer.tsx
  src/components/layout.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

build: use pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .npmrc
  gatsby-node.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write --ignore-unknown

fix: remove remnants of npm
  .husky/pre-commit
  package.json
Due: prettier --write --ignore-unknown

build: use node 16
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  package.json
Due: prettier --write --ignore-unknown

build: explicitly use prebuild script
  package.json
Due: prettier --write --ignore-unknown

feat: bump versions and restructure
  .stylelintrc.json
  gatsby-config.js
  gatsby-node.js
  package.json
  pnpm-lock.yaml
  src/components/code.tsx
  src/components/footer.tsx
  src/components/global-styles.tsx
  src/components/header.tsx
  src/components/mdx-components.tsx
  src/images/index/DSCF0946.jpg
  src/images/index/DSCF1514.jpg
  src/images/index/DSCF1524.jpg
  src/images/index/DSCF1599.jpg
  src/images/index/bg.jpg
  src/images/index/luc.li.png
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/blog/hello-world/index.mdx
  src/pages/blog/typography-test.mdx
  src/pages/colophon.mdx
  src/pages/index.tsx
  src/pages/kdv-pinn/index.mdx
  src/pages/kdv-pinn/sol.png
  src/pages/resume.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

ci: update ci infrastructure
  .github/workflows/build.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

feat: update index
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

ci: fix ci syntax
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

ci: fix ci syntax for real
  .github/workflows/lint.yml
Due: prettier --write --ignore-unknown

ci: fix ci syntax again
  .github/workflows/build_and_deploy.yml
Due: prettier --write --ignore-unknown

ci: fix ci deployment context
  .github/workflows/build_and_deploy.yml
Due: prettier --write --ignore-unknown

fix: disable trailing slashes
  gatsby-config.js
Due: eslint --cache --fix, prettier --write --ignore-unknown

fix: restructure config
  gatsby-config.js
Due: eslint --cache --fix, prettier --write --ignore-unknown

feat: update footer
  src/components/footer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

feat: adjust mobile layout
  src/pages/index.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{jsx,tsx,css}
  prettier --write --ignore-unknown: any of: *
